body {
    background-color: #d7e6fa;
}

#nav {
    height: 80px;
    background-color: #63a3f7;
}

.container {
    height: 72.5vh;
}
#pagenav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 16px;
}

#chroom {
    color: #000;
    font-size: 32px;
    padding-left: 20px;
    text-decoration: none;
}

#bottom {
    background-color: #63a3f7;
    margin-top: 40px;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}

#page {
    font-size: 20px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#welcome {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    font-size: 32px;
}