<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin Site</title>
    <link
      rel="stylesheet"
      href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="/css/admin.css"
    />
  </head>
  <body>
  <script>
    let user_id = localStorage.getItem('user_id');
    let user_role = localStorage.getItem('user_role');
    if(user_id === null) {
      window.location.href = "/";
    } else if (user_role === "ROLE_USER") {
      window.location.href = "/track-customer/" + user_id;
    }
  </script>

    <div id="nav">
      <div id="pagenav" class="justify-content-between">
          <a id="chroom" href="/">Chroom Eatery</a>
          <button id="logout">Logout</button>
      </div>
  </div>
    <div class="container">
      <div>
        <h1 id="title">Admin Site</h1>
        <div th:if="${param.addfood}" class="alert alert-success">
          Food has been added
        </div>
        <div id="pageisi">
            <div id="addfooddiv">
              <a class="btn btn-primary" id="addfood" th:href="@{/admin/add-food}">
                Add new food
              </a>
            </div>
            
            <div id="orderdetaildiv">
              <div id="orderDetail">
                <p>Current Order Id :</p>
                <p id="orderId"></p>
                <p>Current Order Status :</p>
                <p id="orderState"></p>
                <p>Message :</p>
                <p id="orderMessage"></p>
  
                <div id="buttongroup">
                  <button id="setOrder">Set Order</button>
                  <button id="prepareOrder">Prepare Order</button>
                  <button id="cookingOrder">Cooking Order</button>
                  <button id="finishOrder">Finished Order</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div id="bottom">Chroom Eatery 2020</div>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
      /*<![CDATA[*/

      $(document).ready(() => {
        getData();
      })

      $(function () {
        $('#setOrder').click(function() {
          let adminId = user_id;
          $.ajax({
            method: 'GET',
            url : '/track-admin/' + adminId + '/set-order',
            dataType: 'json',
            success: function(response) {
              $('#orderId').text(response.current_order_status_id);
              $('#orderState').text(response.current_order_status_state);
              $('#orderMessage').text(response.message);

              if(response.current_order_status_state != '-') {
                $('#setOrder').attr('disabled',true);
                $('#prepareOrder').attr('disabled',false);
                $('#cookingOrder').attr('disabled',true);
                $('#finishOrder').attr('disabled',true);
              }
            }
          })
        })
      })

      $(function () {
        $('#prepareOrder').click(function() {
          $('#prepareOrder').attr('disabled',true);
          $('#cookingOrder').attr('disabled',false);
          let adminId = user_id;
          $.ajax({
            method: 'GET',
            url : '/track-admin/' + adminId + '/prepare-order',
            dataType: 'json',
            success: function(response) {
              $('#orderId').text(response.current_order_status_id);
              $('#orderState').text(response.current_order_status_state);
              $('#orderMessage').text(response.message);

              if(response.message === 'Order Canceled') {
                $('#setOrder').attr('disabled',false);
                $('#prepareOrder').attr('disabled',true);
                $('#cookingOrder').attr('disabled',true);
                $('#finishOrder').attr('disabled',true);
              }
            }
          })
        })
      })

      $(function () {
        $('#cookingOrder').click(function() {
          $('#cookingOrder').attr('disabled',true);
          $('#finishOrder').attr('disabled',false);
          let adminId = user_id;
          $.ajax({
            method: 'GET',
            url : '/track-admin/' + adminId + '/cooking-order',
            dataType: 'json',
            success: function(response) {
              $('#orderId').text(response.current_order_status_id);
              $('#orderState').text(response.current_order_status_state);
              $('#orderMessage').text(response.message);

              if(response.message === 'Order Canceled') {
                $('#setOrder').attr('disabled',false);
                $('#prepareOrder').attr('disabled',true);
                $('#cookingOrder').attr('disabled',true);
                $('#finishOrder').attr('disabled',true);
              }
            }
          })
        })
      })

      $(function () {
        $('#finishOrder').click(function() {
          $('#setOrder').attr('disabled',false);
          $('#finishOrder').attr('disabled',true);
          let adminId = user_id;
          $.ajax({
            method: 'GET',
            url : '/track-admin/' + adminId + '/finished-cooking-order',
            dataType: 'json',
            success: function(response) {
              $('#orderId').text(response.current_order_status_id);
              $('#orderState').text(response.current_order_status_state);
              $('#orderMessage').text(response.message);
            }
          })
        })
      })

      function getData() {
        let adminId = user_id;
        $.ajax({
          method: 'GET',
          url : '/track-admin/' + adminId + '/current-order',
          dataType: 'json',
          success: function(response) {
            $('#orderId').text(response.current_order_status_id);
            $('#orderState').text(response.current_order_status_state);
            $('#orderMessage').text(response.message);

            if(response.current_order_status_state === '-') {
              $('#prepareOrder').attr('disabled',true);
              $('#cookingOrder').attr('disabled',true);
              $('#finishOrder').attr('disabled',true);
            } else if(response.current_order_status_state === 'Order In') {
              $('#setOrder').attr('disabled',true);
              $('#prepareOrder').attr('disabled',false);
              $('#cookingOrder').attr('disabled',true);
              $('#finishOrder').attr('disabled',true);
            } else if(response.current_order_status_state === 'Prepare') {
              $('#setOrder').attr('disabled',true);
              $('#prepareOrder').attr('disabled',true);
              $('#cookingOrder').attr('disabled',false);
              $('#finishOrder').attr('disabled',true);
            } else if(response.current_order_status_state === 'Cooking') {
              $('#setOrder').attr('disabled',true);
              $('#prepareOrder').attr('disabled',true);
              $('#cookingOrder').attr('disabled',true);
              $('#finishOrder').attr('disabled',false);
            } else if(response.current_order_status_state === 'Completed') {
              $('#setOrder').attr('disabled',false);
              $('#prepareOrder').attr('disabled',true);
              $('#cookingOrder').attr('disabled',true);
              $('#finishOrder').attr('disabled',true);
            }
          }
        })
      }

      /*]]>*/
    </script>
  <script src="/js/logout.js"></script>
  </body>
</html>

