<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Menu</title>
    <link
      rel="stylesheet"
      href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/order.css" />
  </head>
  <body>
    <script>
      let user_id = localStorage.getItem('user_id');
      let user_role = localStorage.getItem('user_role');
      if(user_id === null) {
        window.location.href = "/";
      } else if (user_role != "ROLE_USER") {
        window.location.href = "/admin";
      }
    </script>

    <div id="nav">
      <div id="pagenav" class="justify-content-between">
        <a id="chroom" href="/">Chroom Eatery</a>
        <div class="navlinks mr-3 d-flex align-self-end">
          <a class="btn btn-secondary" th:href="@{/order}">Order Page</a>
        </div>
        <button id="logout">Logout</button>
      </div>
    </div>
    <div class="container">
      <div>
        <h1 class="my-4 text-center font-weight-bold">Menu</h1>
        <div id="menu-header" class="row font-weight-bold">
          <div class="col-1">Id</div>
          <div class="col-3">Name</div>
          <div class="col-5">Description</div>
          <div class="col-1">Price</div>
          <div class="col-1">Amount</div>
          <div class="col-1">Add?</div>
        </div>
        <div id="menu">Loading...</div>
      </div>
    </div>
    <div id="bottom">Chroom Eatery 2020</div>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/js/order/menu.js"></script>
    <script src="/js/logout.js"></script>
  </body>
</html>
