<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Order Status Customer</title>
    <link
            rel="stylesheet"
            href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="/css/customer.css"
    />
</head>
<body>
    <script th:inline="javascript">
        let user_id = localStorage.getItem('user_id');
        let customer_id = [[${customer_id}]];
        let user_role = localStorage.getItem('user_role');

        if(user_id === null) {
            window.location.href = "/";
        } else if (user_role != "ROLE_USER") {
            window.location.href = "/admin";
        } else if (user_id != customer_id) {
            window.location.href = "/track-customer/" + user_id;
        }
    </script>

    <div id="nav">
        <div id="pagenav">
            <a id="chroom" href="/">Chroom Eatery</a>
            <button id="logout">Logout</button>
        </div>
    </div>
    <div class="container">
        <div>
            <h1 id="title"></h1>
            <div id='statuspicture'>
            </div>
            <div id="group">
                <div id="state">
                    <p id="judulRincian">Data Pesanan</p>
                    <p th:text="'Current Order ID : ' + ${order_id}"></p>
                    <p th:text="'Current Order Status : '"></p>
                    <p id="status" th:text="${order_status}"></p>
                    <p th:text="'Message : ' + ${message}"></p>
                    <div id="buttondiv">
                        <button id="add" onclick="window.location.href='/menu';">Add order</button>
                        <button th:attr="onclick='window.location.href=\'' + ${customer_id} + '/cancel-order' + '\''" id="cancel">Cancel order</button>
                        <button th:attr="onclick='window.location.href= \'' + ${customer_id} + '/finish-order' + '\''" id="finish">
                            Finish Order
                        </button>
                    </div>

                </div>
                <div id="statusPesanan">
                    <p id="judulRincian">Rincian Pesanan</p>
                    <div class="row font-weight-bold">
                        <div class="col-1">Id</div>
                        <div class="col-3">Name</div>
                        <div class="col-5">Description</div>
                        <div class="col-1">Price</div>
                        <div class="col-1">Amount</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="bottom">Chroom Eatery 2020</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/js/logout.js"></script>
<script th:inline="javascript">
    $('#title').text("Hi, " + localStorage.getItem('user_username'));
    /*<![CDATA[*/

    $(document).ready(() => {
        let status = document.getElementById("status").innerHTML;
        $("#statusPesanan").hide();
        $("#cancel").hide();
        if(status != '-') {
            $("#add").attr('disabled',true);
            $("#cancel").show();

            $.ajax({
                method: "GET",
                url: "/order-api/order/" + user_id,
                dataType: "json",
                success: function (response) {
                    console.log(response);

                    $("#statusPesanan").show();

                    for (foodOrder of response.foodOrderSet) {
                        let food = foodOrder.food;
                        let row = $('<div class="row" />');
                        row.append('<div class="col-1">' + food.id + "</div>");
                        row.append('<div class="col-3">' + food.name + "</div>");
                        row.append('<div class="col-5">' + food.description + "</div>");
                        row.append('<div class="col-1">' + food.price + "</div>");
                        row.append('<div class="col-1">' + foodOrder.amount + "</div>");

                        $("#statusPesanan").append(row);
                    }

                    $("#statusPesanan").append(
                        '<div class="row mt-5"><div class="col-1">Total</div><div class="col-3">' +
                        response.totalPrice +
                        "</div></div>"
                    );
                }
            })
        }

        $(finish).hide();

        if(status === 'Order In') {
            $(statuspicture).append('<img id="ordinpic" src="/pic/track/ordin.svg" alt ="">');
        } else if (status === 'Prepare') {
            $(statuspicture).append('<img id="ordinpic" src="/pic/track/prep.svg" alt ="">');
        } else if (status === 'Cooking') {
            $(statuspicture).append('<img id="ordinpic" src="/pic/track/cook.svg" alt ="">');
            $(cancel).attr('disabled',true);
        } else if (status === 'Completed') {
            $(statuspicture).append('<img id="ordinpic" src="/pic/track/finish.svg" alt ="">');
            $(cancel).attr('disabled',true);
            $(finish).show();
        }
    })

    /*]]>*/
</script>
</body>
</html>
