<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Chroom | Register</title>
    <link
      rel="stylesheet"
      href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div layout:fragment="content" class="container">
      <div th:if="${param.error}">Something went wrong.</div>
      <div th:if="${error}" th:text="${error}"></div>
      <div th:if="${error}" th:text="${error.getMessage()}"></div>
      <form th:action="@{/account/register}" method="post">
        <div>
          <label>User Name : <input type="text" name="username" /></label>
        </div>
        <div>
          <label>Password: <input type="password" name="password" /></label>
        </div>
        <div>
          <label>Name : <input type="text" name="name" /></label>
        </div>
        <div>
          <label>Address: <input type="text" name="address" /></label>
        </div>
        <div><input type="submit" value="Sign In" /></div>
      </form>
    </div>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
